[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "Libraries/godot-cpp"]
	path = Libraries/godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
